{% extends 'main.html' %}
{% load static %}
{% load leaflet_tags %}

{% block headlinks %}

<link rel="stylesheet" href="{% static 'geoapp/css/siteStyle.css' %}">
{% leaflet_js %}
{% leaflet_css %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1 class="display-6">{{ site }}</h1>
        <div>
        {% leaflet_map "map" callback="window.map_init_basic" %}
    </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<script>
    var polys_safe = {{ polys|safe }};
    var x_sum = 0;
    var y_sum = 0;
    for (i in polys_safe.features[0].geometry.coordinates[0]){
        x_sum += polys_safe.features[0].geometry.coordinates[0][i][1];
        y_sum += polys_safe.features[0].geometry.coordinates[0][i][0];
    }
    var x_avg = x_sum/polys_safe.features[0].geometry.coordinates[0].length;
    var y_avg = y_sum/polys_safe.features[0].geometry.coordinates[0].length;

    var pts_safe = {{ hazardpoints|safe }};
    var pts_inside = [];

    function inside(point, vs) {
        var x = point[0], y = point[1];
        var inside = false;
        for (var i = 0, j = vs.length - 1; i < vs.length; j = i++) {
            var xi = vs[i][0], yi = vs[i][1];
            var xj = vs[j][0], yj = vs[j][1];
            var intersect = ((yi > y) != (yj > y))
            && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);
            if (intersect) inside = !inside;
        }
        return inside;
    };
    //
    for (i in pts_safe.features) {
        if (inside(pts_safe.features[i].geometry.coordinates, polys_safe.features[0].geometry.coordinates[0])){
            pts_inside.push(pts_safe.features[i]);
        }
    }

    console.log(pts_inside)

    function map_init_basic (map, options) {
        var geoLayer = L.geoJSON().addTo(map);
        geoLayer.addData(polys_safe)
        map.setZoom(9);
        map.panTo(new L.LatLng(x_avg, y_avg));
        map.setView([x_avg, y_avg], 10);
        for (i in pts_inside) {
            marker = new L.marker(pts_inside[i][0])
                 geoLayer.addData(pts_inside[i])
        }
    }


</script>

{% endblock %}